::selection {
  background: #007a60 none repeat scroll 0 0;
}

*::-moz-selection {
  background: #007a60 none repeat scroll 0 0;
}

a:hover, a:focus, a:active {
  color: #007a60;
}

label a {
  color: #007a60;
}

.post-details .entry-content a:hover,
.btn:hover,
.social-link a:hover,
.rotate .cat-links a:hover,
.layout-five .single-row-col .post-media .rotate .cat-links a:hover,
.link-home a:hover,
#author-details .authors-social a:hover,
.tag a:hover,
#submit:hover,
.scroll-top a:hover,
.entry-meta span a:hover,
.more-link:hover,
.follow-link a:hover {
  color: #007a60;
}

.meta-content .meta-cat {
  color: #007a60;
}

.slider-content .slider-navigation .owl-item.active li.active:before {
  border-color: #007a60;
}

.slider-content .slider-navigation .meta-cat {
  color: #007a60;
}

.social-link a:hover i,
.error-page .error-page-list .error-search .btn-default:hover i,
#author-slider .owl-controls .owl-nav > div:hover i,
#featured-product-slide .owl-controls .owl-nav > div:hover i {
  color: #007a60 !important;
}

.navigation .menu-list li:hover > a {
  color: #007a60 !important;
}
.navigation .menu-list li .sub-menu > li:hover > a {
  color: #007a60 !important;
}

.error-page .error-page-list .error-search .btn-default:hover {
  border-color: #007a60 !important;
}

.btn:hover:hover,
.btn.btn-default:hover,
.comment-reply-link:hover,
.form-submit #submit:hover {
  background-color: #007a60;
}

.site-header .social-links a:hover {
  color: #007a60;
}

.section-title-area span,
.hotel-room-section-title .section-title span {
  color: #007a60;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn:hover {
  background-color: #007a60;
}

.btn-offer {
  border-color: #007a60;
}
.btn-offer > span {
  color: #007a60;
}

.btn-default {
  background-color: #007a60;
}

.btn-details {
  background-color: #007a60;
}

.btn-submit {
  background-color: #007a60 !important;
}

.link-home:hover {
  border-color: #007a60;
}

.header-top .col-md-4 .search-area .header-search .form-controller {
  border-color: #007a60;
}

.timer-content-area .social-share > a:hover {
  background-color: #007a60;
}

.paginations .paging-navigation ul li.active a {
  background-color: #007a60;
}

.widget-social > a {
  color: #007a60;
}

.widget_newsletter .newsletter-area #form-newsletter #mc-embedded-subscribe {
  background-color: #007a60;
}

.single-spa-pricing .price {
  color: #007a60;
}

.gallery-filter-menu > li > a:hover {
  background-color: #007a60;
  border-color: #007a60;
}

.welcome-section.style-one #aravira-facility a.single-facility > .fa {
  background-color: #007a60;
}
.welcome-section.style-one .welcome-btn .btn-offer.active {
  background: #007a60;
}

.welcome-text > p span {
  color: #007a60;
}

.welcome-section.style-two .welcome-btn .btn-offer.active {
  background: #007a60;
}

.online-book-section.style-two .section-title-area .title-box-inner,
.online-book-section.style-two .form-content {
  background: #007a60;
}

.online-book-section.style-two .form-content input {
  border-color: #007a60;
}

.best-place-section.best-place-style-two .btn.btn-default {
  background: #007a60;
}

.place-overlay-outer {
  background-color: #007a60;
}

.customer-reviews .owl-controls .owl-dots > div.active {
  background-color: #007a60;
}

.room-single-sidebar .review-comment-form label {
  color: #007a60;
}

.single-event.list .event-title {
  color: #007a60;
}

#footer-top-section {
  background-color: #00634d;
}

.gallery-filter-menu li.current-tab a {
  background-color: #007a60;
}
