@import "../sass/variables-site/colors";
::selection {
    background: $color__theme-main none repeat scroll 0 0;
}
*::-moz-selection {
    background: $color__theme-main none repeat scroll 0 0;
}
a:hover, a:focus, a:active {
    color: $color__theme-main;
}
label a {
    color: $color__theme-main;
}
.post-details .entry-content a,
.btn,
.social-link a,
.rotate .cat-links a,
.layout-five .single-row-col .post-media .rotate .cat-links a,
.link-home a,
#author-details .authors-social a,
.tag a,
#submit, 
.scroll-top a,
.entry-meta span a,
.more-link,
.follow-link a {
    &:hover { 
        color: $color__theme-main;
    }
}

.meta-content .meta-cat {
    color: $color__theme-main;
}
.slider-content .slider-navigation .owl-item.active li.active:before {
    border-color: $color__theme-main;
}
.slider-content .slider-navigation .meta-cat {
    color: $color__theme-main;
}

.social-link a,
.error-page .error-page-list .error-search .btn-default,
#author-slider .owl-controls .owl-nav > div, 
#featured-product-slide .owl-controls .owl-nav > div {
    &:hover i{
        color: $color__theme-main !important;
    }
}
.navigation  .menu-list li {
    &:hover > a {
        color: $color__theme-main !important;
    }
    .sub-menu > li:hover > a {
        color: $color__theme-main !important;
    }
}

.error-page .error-page-list .error-search .btn-default:hover {
    border-color: $color__theme-main !important;
}
.btn:hover,
.btn.btn-default,
.comment-reply-link,
.form-submit #submit {
    &:hover {
        background-color: rgba($color__theme-main, 0.85);
    }
}

.site-header .social-links a:hover {
    color: $color__theme-main;
}
//Title
.section-title-area,
.hotel-room-section-title .section-title  {
    span {
        color: $color__theme-main;
    }
}

// Button
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus,
.btn:hover {
    background-color: rgba($color__theme-main, 0.85);
}
.btn-offer {
    border-color: $color__theme-main; 
    > span {
        color: $color__theme-main;
    }
}
.btn-default {
    background-color: $color__theme-main;
} 
.btn-details {
    background-color: $color__theme-main;
}
.btn-submit {
    background-color: $color__theme-main;
}
.link-home:hover {
    border-color: $color__theme-main;
}
.header-top .col-md-4 .search-area .header-search .form-controller {
    border-color: $color__theme-main;
}
.timer-content-area .social-share > a:hover {
    background-color: $color__theme-main;
}
.paginations .paging-navigation ul li.active a {
    background-color: $color__theme-main;
}
.widget-social > a {
    color: $color__theme-main;
}
.widget_newsletter .newsletter-area #form-newsletter #mc-embedded-subscribe {
    background-color: $color__theme-main;
}
.single-spa-pricing .price {
    color: $color__theme-main;
}
.gallery-filter-menu > li > a:hover {
    background-color: $color__theme-main;
    border-color: $color__theme-main;
}
// Home slider Color
.welcome-section.style-one {
    #aravira-facility {
        a.single-facility {
            > .fa {
                background-color: $color__theme-main;
            } 
        }
    } 
    .welcome-btn {
        .btn-offer.active {
            background: $color__theme-main;
        }
    }
}
.welcome-text {
    > p {
        span {
            color: $color__theme-main;
        }
    }
}
.welcome-section.style-two {
    .welcome-btn {
        .btn-offer.active {
            background: $color__theme-main;
        }
    }
}
.online-book-section.style-two .section-title-area .title-box-inner,
.online-book-section.style-two .form-content {
    background: $color__theme-main;
}
.online-book-section.style-two .form-content input {
    border-color: $color__theme-main;
}
.best-place-section.best-place-style-two .btn.btn-default {
    background: $color__theme-main;
}
.place-overlay-outer {
    background-color: rgba($color__theme-main, 0.5);
}
.customer-reviews {
    .owl-controls {
        .owl-dots > div {
            &.active {
                background-color: $color__theme-main;
            }
        }
    }
}
.room-single-sidebar {
    .review-comment-form label {
        color: $color__theme-main;
    }
}
.single-event.list .event-title {
    color: $color__theme-main;
}
#footer-top-section {
    background-color: $color__theme-main;
}
.gallery-filter-menu li.current-tab a {
    background-color: $color__theme-main;
}